<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href=="assets/img/burger.gif">
	<link rel="stylesheet" href="assets/css/gurger_style.css" type="text/css"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<title>Eat-Da-Burgers</title>
</head>

<body>

<div class="container">
	<br>

	<center>
		<div class="row">
			<img src="/assets/img/burger.gif">
		</div>
	</center>

	<center>
		<h1>Eat-Da-Burgers</h1>
	</center>

	<br>
	<br>

{{{ body }}}


</div>

<script src="assets/js/burger.js"></script>

</body>

</html>